{%extends 'base.html' %}
{% block body %}
    {% for post in posts %}
    <div class="flex justify-center">
        {%include 'include/post.html' with post=post %}
    </div>
    {% endfor %}
{% endblock body %}

{% block style %}
    <style>
        header{
            backround: rgb(49,113,55);
            background: linear-gradient(0deg, rgba(49,113,55,1) 23%, rgba(55,83,52,1) 59%);
            width:100%;
            padding: 20px 40px;
            color: white;
            font-weight: 800;
            font-size: 30px;  
        }
    </style>
{% endblock style %}