{% extends "base.html" %}
{% load tailwind_filters %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block body %}

{% get_providers as socialaccount_providers %}


<div class="flex justify-center rounded bg-slate-200 p-10 rounded">
  <div class="container">
    <h1 class="font-bold mb-6">Đăng nhập</h1>
    <hr>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      
      {{ form|crispy }}
      
      <button class="my-5 py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 " type="submit">Sign in</button><br>
      <a class="button secondaryAction hover:text-teal-400" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>


    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    
    <p class="mt-6">{% blocktrans %}If you have not created an account yet, then please
      <a class="badge badge-info hover:text-teal-400" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
    {% endif %}

    </p>
  </div>
</div>

{% endblock %}